    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

    /*Fonts*/
    .architects-daughter-regular {
        font-family: "Architects Daughter", cursive;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
    }

body {
    margin: 0;
    padding: 0;
}

div{
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#logo{
    width: 100px;
}

/*******************NAV BAR STYLES*******************/

.navbar {
    position: relative;
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    justify-content: space-around;
    align-items: center;
    box-shadow: 7px 5px 15px -4px rgba(148, 148, 148, 0.75);
    -webkit-box-shadow: 7px 5px 15px -4px rgba(145, 145, 145, 0.75);
    -moz-box-shadow: 7px 5px 15px -4px rgba(104, 104, 104, 0.75);
}

.nav-items > ul > li {
    position: relative;
    display: inline;
    list-style: none;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-items > ul > li > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-items > ul > li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.17rem;
    background-color: #c52726;
    left: 0;
    bottom: 0;
    transform-origin: 0% 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-items > ul > li:hover::after {
    transform: scaleX(1);
}

.nav-logo a,
.nav-button a {
    color: white;
    list-style: none;
    text-decoration: none;
    display: flex;
}

.nav-logo {
    font-size: 32px;
}

.nav-button {
    background-color: #000000;
    border-radius: 50px;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.anim-layer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-button:hover .anim-layer {
    width: 100%;
    left: 0;
}

.nav-button:hover a {
    color: #141214;
}

.nav-button a {
    font-family: "Architects Daughter", cursive;
    padding: 10px;
    padding-right: 15px;
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

#hamburger-menu,
#mobile-menu {
    display: none;
}

/*******************BANNER VIDEO*******************/
.banner {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 750px; /* Aspect ratio 16:9 */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/************SECCIONES HERRAMIENTAS************/

.centrado {
    text-align: center;
}

.columna {
    display: inline-block;
    max-width: 500px;
    margin: 25px;
    vertical-align: top; /* Alinea los elementos hacia arriba */
}

.elemento {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-top: 25px;
}

.elemento-img{
    width: 50%;
}

.elemento-container{
    width: 400px;
}

.elemento-text{
    margin: 5px;
}

.elemento h3{
    margin-top: 5px;
    font-size: 20px;
    font-family: "Architects Daughter", cursive;
}

.elemento h6{
    margin-top: 5px;
    font-size: 15px;
    font-family: "Nunito", sans-serif;

}

.elemento button{
    margin-top: 10px;
}

.titulo{
    font-family: "Architects Daughter", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}

.boton {
    font-family: "Architects Daughter", cursive;
    margin-top: 20px;
    margin-bottom: 25px;
    background: #007BFF; /* Gradiente rojo a azul */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.boton:hover {
    background: #0157b3;
    opacity: 0.9;
}

.slidein {
    width: 100%;
    opacity: 1;
    position: relative;
    height: 600px;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: -2s;
}

@keyframes example {
    0%   {opacity: 0; top:0px;}
    25%  {opacity: 0;top:0px;}
    50%  {opacity: 0;top:200px;}
    75%  {opacity: 0;top:200px;}
    100% {top:0px;}
}

/*********************FOOTER**************************/
footer {
    font-family: "Architects Daughter", cursive;
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left img {
    width: 100px;
}

.footer-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.footer-right{
    margin-right: 20px;
}

.footer-right a:hover {
    color: #666;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    font-family: "Nunito", sans-serif;
}

.separador{
    size: 1px;
    color: #27272707;
}



/********************MEDIA QUERIES********************/

@media only screen and (max-width: 770px) {
    #mobile-menu {
        background-color: #c52726;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }

    .mobile-nav-items > ul {
        padding: 0px;
    }

    .mobile-nav-items > ul > li {
        text-align: center;
        position: relative;
        list-style: none;
        margin: 10px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .mobile-nav-items > ul > li > a {
        color: white;
        text-decoration: none;
    }

    .mobile-nav-items > ul > li::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.17rem;
        background-color: white;
        left: 0;
        bottom: 0;
        transform-origin: 0% 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .mobile-nav-items > ul > li:hover::after {
        transform: scaleX(1);
    }

    .mobile-nav-button {
        background-color: #141214;
        border-radius: 50px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .mobile-nav-button .anim-layer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background-color: white;
        transition: width 0.3s ease, left 0.3s ease;
    }

    .mobile-nav-button:hover .anim-layer {
        width: 100%;
        left: 0;
    }

    .mobile-nav-button:hover a {
        color: #141214;
    }

    .mobile-nav-button a {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        position: relative;
        z-index: 1;
    }

    .nav-items > ul,
    .nav-button {
        display: none;
    }

    #hamburger-cross {
        display: block;
        color: white;
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        top: 20px;
        right: 26px;
    }

    #hamburger-menu {
        display: block;
        color: white;
        cursor: pointer;
        font-size: 24px;
    }
}