    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*Fonts*/
    .architects-daughter-regular {
        font-family: "Architects Daughter", cursive;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
    }
    .centrado {
        text-align: center;
    }

    .columna {
        display: inline-block;
        margin-bottom: 25px;
        vertical-align: top; /* Alinea los elementos hacia arriba */
    }

    .elemento {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 25px;
        margin-top: 25px;
    }

    .elemento-img{
        width: 50%;
    }

    .elemento-container{
        width: 400px;
    }

    .elemento-text{
        margin: 5px;
    }

    .elemento h3{
        margin-top: 5px;
    }

    .elemento h6{
        margin-top: 5px;
    }

    .elemento button{
        margin-top: 10px;
    }


body {
    margin: 0;
    padding: 0;
}

div{
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

#logo{
    width: 100px;
}

button {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

button:hover {
    background-color: #0056b3;
}

#qrCode {
    margin-top: 20px;
}

img{
    display: inline-flex !important;
}

.navbar {
    position: relative;
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    justify-content: space-around;
    align-items: center;
    box-shadow: 7px 5px 15px -4px rgba(148, 148, 148, 0.75);
    -webkit-box-shadow: 7px 5px 15px -4px rgba(145, 145, 145, 0.75);
    -moz-box-shadow: 7px 5px 15px -4px rgba(104, 104, 104, 0.75);
}

.nav-items > ul > li {
    position: relative;
    display: inline;
    list-style: none;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-items > ul > li > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-items > ul > li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.17rem;
    background-color: #c52726;
    left: 0;
    bottom: 0;
    transform-origin: 0% 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-items > ul > li:hover::after {
    transform: scaleX(1);
}

.nav-logo a,
.nav-button a {
    color: white;
    list-style: none;
    text-decoration: none;
    display: flex;
}

.nav-logo {
    font-size: 32px;
}

.nav-button {
    background-color: #000000;
    border-radius: 50px;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.anim-layer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-button:hover .anim-layer {
    width: 100%;
    left: 0;
}

.nav-button:hover a {
    color: #141214;
}

.nav-button a {
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

#hamburger-menu,
#mobile-menu {
    display: none;
}

/*******************BANNER VIDEO*******************/
.banner {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 750px; /* Aspect ratio 16:9 */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/********************MEDIA QUERIES********************/

@media only screen and (max-width: 770px) {
    #mobile-menu {
        background-color: #c52726;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }

    .mobile-nav-items > ul {
        padding: 0px;
    }

    .mobile-nav-items > ul > li {
        text-align: center;
        position: relative;
        list-style: none;
        margin: 10px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .mobile-nav-items > ul > li > a {
        color: white;
        text-decoration: none;
    }

    .mobile-nav-items > ul > li::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.17rem;
        background-color: white;
        left: 0;
        bottom: 0;
        transform-origin: 0% 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .mobile-nav-items > ul > li:hover::after {
        transform: scaleX(1);
    }

    .mobile-nav-button {
        background-color: #141214;
        border-radius: 50px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .mobile-nav-button .anim-layer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background-color: white;
        transition: width 0.3s ease, left 0.3s ease;
    }

    .mobile-nav-button:hover .anim-layer {
        width: 100%;
        left: 0;
    }

    .mobile-nav-button:hover a {
        color: #141214;
    }

    .mobile-nav-button a {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        position: relative;
        z-index: 1;
    }

    .nav-items > ul,
    .nav-button {
        display: none;
    }

    #hamburger-cross {
        display: block;
        color: white;
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        top: 20px;
        right: 26px;
    }

    #hamburger-menu {
        display: block;
        color: white;
        cursor: pointer;
        font-size: 24px;
    }
}